<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatBot</title>
      <link rel="stylesheet" href="/csss/loginorsignup.css">
</head>
<body>
     <div class="mainbody">

      <h1>Chat bot</h1>
      <div class="flex">
        <label>
          <form action="/bot" method="post" class="form">
 <label class="labtab">Food Item: </label>
            <input class="input" type="text" name="foodname" placeholder="foodname">
          
            <input type="submit" class="login-button" value="Search">

          </form>

  </body>



</html>